<!-- <h4>entry</h4> -->
<!-- <footer>
    <ng-container *ngIf="footer; else contactuspage">
      <div class="footer_container col-md-12 justify-content-center">
        <div class="col-md-12 row justify-content-center mx-auto ">
          <div class="col-md-3">
            <ng-container *ngTemplateOutlet="googleMap"></ng-container>
          </div>
          <div class="col-md-2">
            <ng-container *ngTemplateOutlet="aboutCurative"></ng-container>
          </div>
          <div class="h-100 col-md-3" style="padding: 0%">
            <ng-container *ngTemplateOutlet="addressContainer"></ng-container>
          </div>
          <div class="col-md-4">
            <ng-container *ngTemplateOutlet="contactForm;context:{type:'type'}"></ng-container>
          </div>
        </div>
        <div class="container h-100 mt-5">
          <ng-container *ngTemplateOutlet="copyRights"></ng-container>
        </div>
      </div>
    </ng-container>
  
  
    <ng-template #contactuspage>
      <div class="container col-md-12 my-5 h-100 ">
        
        <div class="col-md-12 mac_view justify-content-center text-center mac_view">
            <ng-container *ngTemplateOutlet="googleMap"></ng-container>
        </div>
        <div class="col-md-12 row">
          <div class="col-md-3 ">
            <ng-container *ngTemplateOutlet="addressContainer" ></ng-container>
          </div>
          <div class="col-md-6">
            <h2>our Aim</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo corrupti culpa rem pariatur vero. Commodi vel cupiditate aperiam, voluptates nam ullam dolorum a, rem nemo fuga ipsam, iusto reiciendis ad.
          </div>
          <div class="col-md-3 ">
            <ng-container *ngTemplateOutlet="contactForm;context:{type:'type2'}" ></ng-container>
          </div>
        </div>
        <div class="col-md-12">
            <ng-container *ngTemplateOutlet="copyRights"></ng-container>
        </div>
      </div>
    </ng-template>
  
    <ng-template #googleMap>
      <div class="embed-responsive embed-responsive-1by1">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15547.45783184971!2d80.2214475!3d13.0442984!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf421cb1d65a63ecb!2sCurative+Health+Studio!5e0!3m2!1sen!2sin!4v1566478627049!5m2!1sen!2sin"
          class="embed-responsive-item" frameborder="0" style="border:0" allowfullscreen>
        </iframe>        
      </div>
    </ng-template>
  
    <ng-template #aboutCurative>
      <h4>About us</h4>
      <p>Curative fitness science focuses on functional workouts that include ever-changing resistance,cardio
        respiratory and flexibility training to help you meet your fitness goal. At Curative, you will be working with
        young certified trainers who have already made amazing transformations possible on the fitness floor and are
        now looking to create more success stories
      </p>
    </ng-template>
  
    <ng-template #addressContainer>
      <section class="h-30 col-md-12">
        <div class="curative_icon">
          <img src="../../assets/images/icon_1.png" id="logo_1">
          <span class="logo_separator"></span>
          <img src="../../assets/images/icon_2.png" id="logo_2">
        </div>
      </section>
      <section class=" h-40 address col-md-12 ">
        <table class="table custom_table table-responsive-md" style="color: #808080 !important">
          <tbody>
            <tr>
              <td class="align-top">
                <i class="fa fa-location-arrow" style="font-size:27px !important"></i>
              </td>
              <td>
                <header>
                  <h4>Address</h4>
                </header>
                <p>
                  No 17/17, Umapathy Street<br>
                  Brindavan Extension, <br>
                  Kodambakkam, <br>
                  Chennai - 600033<br>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <i class="fa fa-10x fa-mobile" style="font-size:35px !important"></i>
              </td>
              <td>
                <span>9941927376/9176070020</span>
              </td>
            </tr>
            <tr>
              <td>
                <i class="fa fa-8x fa-at" style="font-size:24px !important"></i>
              </td>
              <td>
                <span>curative@****.com</span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="h-30 careers col-md-12 ">
        <header>
          <h4>careers</h4>
          <form>
            <div class="form-group">
              <input class="form-control" placeholder="*****@example.com">
            </div>
          </form>
        </header>
      </section>
    </ng-template>
  
    <ng-template #contactForm let-type=type>
      {{type}}
      <header>
        <h4>CONTACT US</h4>
      </header>
      <form [formGroup]="enquiryFrom" (ngSubmit)="submitForm(enquiryFrom)">
        <div class="row">
          <div  [ngClass]="[type=='type1'?'col-md-5':'col-md-12']">
            <div class="form-group mb-4">
              <input type="text" class="form-control" formControlName="name"
                [ngClass]="{'is-invalid':submitted && formInstance.name.errors,'is-valid':submitted && !formInstance.age.errors}"
                placeholder="Name">
              <div *ngIf="submitted && formInstance.name.errors" class="invalid-feedback">
                <div *ngIf="formInstance.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group mb-4">
              <input type="number" class="form-control " formControlName="age"
                [ngClass]="{'is-invalid':submitted && formInstance.age.errors ,'is-valid':submitted && !formInstance.age.errors}">
              <div *ngIf="submitted && formInstance.age.errors" class="invalid-feedback">
                <div *ngIf="formInstance.age.errors.required">Age is required</div>
              </div>
            </div>
            <div class="form-group radio-group mb-4"
              [ngClass]="{'is-invalid':submitted && formInstance.sex.errors ,'is-valid':submitted && !formInstance.sex.errors}">
              <label>Sex</label>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="sex" formControlName="sex" value="male">
                <label class="form-check-label">M</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="sex" formControlName="sex" value="female">
                <label class="form-check-label">F</label>
              </div>
              <div *ngIf="submitted && formInstance.sex.errors" class="invalid-feedback">
                <div *ngIf="formInstance.sex.errors.required">Sex is required</div>
              </div>
            </div>
            <div class="form-group mb-4">
              <input type="email" class="form-control" formControlName="email" placeholder="*****@example.com"
                [ngClass]="{'is-invalid':submitted && formInstance.email.errors}">
              <div *ngIf="submitted && formInstance.email.errors" class="invalid-feedback">
                <div *ngIf="formInstance.email.errors.required">Email is required</div>
              </div>
            </div>
            <div class="form-group">
              <select class="custom-select" required formControlName="option">
                <option>Fitness</option>
                <option>Rehab</option>
                <option>Physio</option>
              </select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </div>
            <ng-container *ngIf="type=='type2'">
                <div class="form-group">
                  <textarea rows="8" class="form-control" formControlName="textarea" placeholder="Personal Query"></textarea>
                </div>
                <button type="submit" class="btn custom-button">submit</button>
            </ng-container>
  
          </div>
          <ng-container>
          <div class="col-md-7" *ngIf="type == 'type1'">
            <div class="form-group">
              <textarea rows="8" class="form-control" formControlName="textarea" placeholder="Personal Query"></textarea>
            </div>
            <button type="submit" class="btn custom-button">submit</button>
          </div>
        </ng-container>
        </div>
      </form>
    </ng-template>
  
    <ng-template #copyRights>
      <div class="hori_line_separator"></div>
      <div class="row h-100 justify-content-center align-items-center mt-5">
        <div class="col-md-4"></div>
        <section class="col-md-4" style="text-align: center">
          <app-socialmedia></app-socialmedia>
        </section>
        <div class="col-md-4"></div>
      </div>
      <div class="row justify-content-center align-items-center mt-2">
        <p style="margin: 0% !important">Copyright 2019 <a href="JavaScript:Void(0)"> Curative Fitness Studio</a>. All
          Rights Reserved. </p>
      </div>
      <div class="row justify-content-center align-items-center ">
        <p>Website designed <i class="icon-heart3"></i> by <a href="http://.www.shineads.in/" target="_blank">*****</a>
        </p>
      </div>
    </ng-template>
  </footer>
   -->