<!-- <div class="col-md-12 justify-content-center border service_body">
  <div class="col-md-8 row mx-auto border service_body_content">
    <div class="col-md-12 mx-0 border-primary my-2">
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'Physiotherapy'}"></ng-container>
      </div>
      <div class="">
        <ng-container
          *ngTemplateOutlet="paragraph; context:{content:'Physiotherapy is an allied health profession concerned with the assessment, diagnosis and treatment of disease and disability through physical means.'}">
        </ng-container>
      </div>
      <div class="">
        <ng-container
          *ngTemplateOutlet="paragraph; context:{content:'Our safe and healthy environment provides you a effective treatment from a qualified and trained physiotherapist.'}">
        </ng-container>
      </div>
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'Services/Modalities'}"></ng-container>
      </div>
      <div class="">
        <ng-container *ngTemplateOutlet="list; context:{content:list_data.list_service}"></ng-container>
      </div>
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'We offer treatment for'}"></ng-container>
      </div>
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'SHOULDER PAIN'}"></ng-container>
      </div>
      <div class="">
        <ng-container *ngTemplateOutlet="list; context:{content:list_data.list_shoulder}"></ng-container>
      </div>
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'ELBOW,WRIST & HAND PAIN'}"></ng-container>
      </div>
      <div class="">
        <ng-container *ngTemplateOutlet="list; context:{content:list_data.list_elbow}"></ng-container>
      </div>
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'NECK PAIN'}"></ng-container>
      </div>
      <div class="">
        <ng-container *ngTemplateOutlet="list; context:{content:list_data.list_neck}"></ng-container>
      </div>
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'BACK PAIN'}"></ng-container>
      </div>
      <div class="">
        <ng-container *ngTemplateOutlet="list; context:{content:list_data.list_back}"></ng-container>
      </div>
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'HIP PAIN'}"></ng-container>
      </div>
      <div class="">
        <ng-container *ngTemplateOutlet="list; context:{content:list_data.list_hip}"></ng-container>
      </div>
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'KNEE PAIN'}"></ng-container>
      </div>
      <div class="">
        <ng-container *ngTemplateOutlet="list; context:{content:list_data.list_knee}"></ng-container>
      </div>
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'ANKLE & FOOT PAIN'}"></ng-container>
      </div>
      <div class="">
        <ng-container *ngTemplateOutlet="list; context:{content:list_data.list_ankle}"></ng-container>
      </div>
    </div>


  </div>
</div>

<ng-template #heading let-data="content">
  <h3>{{data}}</h3>
</ng-template>

<ng-template #subheading let-data="content">
  <h3>{{data}}</h3>
</ng-template>

<ng-template #paragraph let-data="content">
  <p>{{data}}</p>
</ng-template>

<ng-template #imageview let-temp="imagedata">
  <ng-container *ngFor="let src of temp">
    <img src="{{src}}" height="100" width="200">
  </ng-container>
</ng-template>

<ng-template #imagedisc let-temp="imagedisc">
  <ng-container *ngFor="let content of temp">
    <p>{{content}}</p>
  </ng-container>
</ng-template>

<ng-template #list let-temp="content">
  <ul>
    <ng-container *ngFor="let liContent  of temp">
      <li>
        {{liContent}}
      </li>
    </ng-container>
  </ul>
</ng-template> -->
