<div class="col-md-12 justify-content-center  service_body">
        <div class="col-md-8 row mx-auto border my-5 service_body_content">
          <div class="col-md-12 mx-0  my-2">
            <div class="justify-content-center text-center">
              <ng-container *ngTemplateOutlet="heading; context:{content:'FUNCTIONAL TRAINING'}">
              </ng-container>
            </div>
            <div class="">
              <ng-container
                *ngTemplateOutlet="paragraph; context:{content:'Functional training attempts to adapt or develop exercises which allow individuals to perform the activities of daily life more easily and without injuries.'}">
              </ng-container>
            </div>
            <br>
      
            <div class="container col-md-12 justify-content-center">
              <div class="row col-md-12 justify-content-center">
                <!-- <div class="col-md-6">
                              <ng-container *ngTemplateOutlet="list; context:{content:list_data.sports_fitness}"></ng-container>
                            </div> -->
                <div class="col-md-8">
                  <img src="https://curative.s3.ap-south-1.amazonaws.com/studio_images/ff.jpg" class="ser_img">
                </div>
              </div>
            </div>
            <br>
            <div class="">
              <ng-container
                *ngTemplateOutlet="paragraph; context:{content:'functional training involves mainly weight bearing activities targeted at core muscles of the abdomen and lower back. Fitness facilities have a variety of weight training machines which target and isolate specific muscles'}">
              </ng-container>
            </div>
			<br>
			<br>
			
            <div class="justify-content-center text-center">
              <ng-container *ngTemplateOutlet="heading; context:{content:'KETTLE BELL TRAINING'}">
              </ng-container>
            </div>
            <div class="container col-md-12 justify-content-center">
              <div class="row col-md-12 justify-content-center">
                <!-- <div class="col-md-6">
                                        <ng-container *ngTemplateOutlet="list; context:{content:list_data.sports_fitness}"></ng-container>
                                      </div> -->
                <div class="col-md-8">
                  <img src="https://curative.s3.ap-south-1.amazonaws.com/studio_images/IMG_20170923_170438.jpg" class="ser_img">
                </div>
              </div>
            </div>
            <br>
            <div class="">
              <ng-container
                *ngTemplateOutlet="paragraph; context:{content:'Kettlebells are cast iron weights ranging from 5 lbs to over 100 lbs, shaped like a ball with a handle for easy gripping'}">
              </ng-container>
            </div>
            <div class="">
              <ng-container
                *ngTemplateOutlet="paragraph; context:{content:'The kettlebell originated in Russia and was popular in the U.S. decades ago, but has hit a resurgence in the last few years with a flurry of classes, videos, and books. Kettlebells offer a different kind of training using dynamic moves targeting almost every aspect of fitness—endurance, strength, balance, agility and cardio endurance. '}">
              </ng-container>
            </div>
      
            <div class="ser_title">
              <ng-container *ngTemplateOutlet="subheading; context:{content:'The benefits include:'}">
              </ng-container>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <ng-container *ngTemplateOutlet="list; context:{content:list_data.kettle_fitness}"></ng-container>
                </div>
                <div class="col-md-6">
                  <img src="https://curative.s3.ap-south-1.amazonaws.com/studio_images/IMG_20190210_105711-min.jpg" class="ser_img">
                </div>
              </div>
            </div>
            <br>
      
            <div class="justify-content-center text-center">
              <ng-container *ngTemplateOutlet="heading; context:{content:'SUSPENSION TRAINING'}">
              </ng-container>
            </div>
      
            <div class="">
              <ng-container *ngTemplateOutlet="paragraph; context:{content:'The term suspension training refers to an approach to strength training that uses a system of ropes and webbing called a “suspension trainer“ to allow users to work against their own body weight.“
                suspension trainer“ to allow users to work against their own body weight.'}">
              </ng-container>
            </div>
            <br>
      
            <div class="">
              <ng-container
                *ngTemplateOutlet="paragraph; context:{content:'Suspension trainer workouts are for everyone, no matter your fitness level. The great thing about suspension training is that there are lots of modifications for every exercise for beginners to advanced users.“
                suspension trainer“ to allow users to work against their own body weight.'}">
              </ng-container>
            </div>
            <br>
			
			<div class="container">
              <div class="row">
                <div class="col-md-6">
                  <ng-container
                *ngTemplateOutlet="paragraph; context:{content:'There are so many  exercises, and with so many progression levels, you’ll always have a fresh workout. Exercising never gets boring with the Suspension trainer. There\’s always a new way to challenge yourself.“
                suspension trainer“ to allow users to work against their own body weight.'}">
              </ng-container>
                </div>
                <div class="col-md-6">
              <img src="https://curative.s3.ap-south-1.amazonaws.com/studio_images/IMG-20170402-WA0022.jpg" class="ser_img">
                </div>
              </div>
            </div>
			
            <br>
			
			<div class="container">
              <div class="row">
                <div class="col-md-6">
                  <ng-container
                *ngTemplateOutlet="paragraph; context:{content:'Suspension training (which you might know as TRX) has become a mainstay at gyms all over-and for good reason. It\'s a super effective way to torch your whole body, build strength, and get your heart beating, using just your own bodyweight'}">
              </ng-container>
                </div>
                <div class="col-md-6">
              <img src="https://curative.s3.ap-south-1.amazonaws.com/studio_images/IMG-20170402-WA0023.jpg" class="ser_img">
                </div>
              </div>
            </div>
			
            <br>
      
            <div class="ser_title">
              <ng-container *ngTemplateOutlet="subheading; context:{content:'Benefits of suspension training:'}">
              </ng-container>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <ng-container *ngTemplateOutlet="list; context:{content:list_data.suspension_fitness}"></ng-container>
                </div>
                <div class="col-md-6">
                  <img src="https://curative.s3.ap-south-1.amazonaws.com/studio_images/IMG-20170402-WA0025.jpg" class="ser_img">
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
      
      <ng-template #heading let-data="content">
        <h3>{{data}}</h3>
      </ng-template>
      
      <ng-template #subheading let-data="content">
        <h5>{{data}}</h5>
      </ng-template>
      
      <ng-template #paragraph let-data="content">
        <p>{{data}}</p>
      </ng-template>
      
      <ng-template #imageview let-temp="imagedata">
        <ng-container *ngFor="let src of temp">
          <img src="{{src}}" height="100" width="200">
        </ng-container>
      </ng-template>
      
      <ng-template #imagedisc let-temp="imagedisc">
        <ng-container *ngFor="let content of temp">
          <p>{{content}}</p>
        </ng-container>
      </ng-template>
      
      <ng-template #list let-temp="content">
        <ul>
          <ng-container *ngFor="let liContent  of temp">
            <li>
              {{liContent}}
            </li>
          </ng-container>
        </ul>
      </ng-template>
      