<section class="flat-row mail-chimp">
  <div class="container col-md-12">
    <!-- <div class="row"> -->
      <!--<div class="col-sm-7 justify-content-right  mx-auto ">
       <div class="text col-md-4 float-right">
          <h3 class="text-white">25% festival offer</h3>
          <div><span class="font_actief color_black font_bold">Grab the offer now !!!</span> &nbsp;&nbsp; <span
              class="text-secondary">*conditions apply</span></div>
        </div>
      </div> -->
      <div class="col-md-12 row justify-content-center  mx-auto">
        <div class="text col-md-3 ">
          <h3 class="text-white">25% festival offer</h3>
          <div>
              <span class="font_actief color_black font_bold">Grab the offer now !!!</span> &nbsp;&nbsp; 
              <span
              class="text-secondary">*conditions apply</span>
          </div>
        </div>
        <div class="text col-md-2 ">
          <button (click)="bottomNav()" type="button" class="submit butt_sub btn btn-primary">Contact Now</button>
        </div>
        <!-- <div class="subscribe"> -->
        <!-- <form method="post" id="subscribeForm" class="subscribe-form"> -->
        <!--<label>
                            <input type="email" id="emailsubscribe" name="email" placeholder="Enter you email..." value="" required="required" title="Enter your email">
                        </label> -->
        <!-- <input type="submit" class="submit butt_sub" value="Contact Now" > -->

        <!-- </form> -->
        <!-- </div> -->
      </div>
    <!-- </div> -->
  </div><!-- /.container -->
</section>
