<div class="col-md-12 justify-content-center  service_body">
  <div class="col-md-8 row mx-auto border my-5 service_body_content">
    <div class="col-md-12 mx-0  my-2">
      <div class="justify-content-center text-center">
        <ng-container *ngTemplateOutlet="heading; context:{content:'FITNESS'}">
        </ng-container>
      </div>
     <!-- <div class="">
        <ng-container
          *ngTemplateOutlet="paragraph; context:{content:'What does it mean to be fit? Finding a discrete definition is somewhat difficult. According to the dictionary, fitness means: “the quality or state of being fit.“ (1) (The definition of “fit” is: “sound physically and mentally.“)'}">
        </ng-container>
      </div>-->
      <div class="">
        <ng-container
          *ngTemplateOutlet="paragraph; context:{content:'We satisfy all your fitness needs. We provide general fitness program, weight loss program, sports specific training, functional training and general conditioning and strength based on assessment and screening for each individuals.'}">
        </ng-container>
      </div>
      <div class="ser_title">
        <ng-container
          *ngTemplateOutlet="subheading; context:{content:'FACILITIES'}">
        </ng-container>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ng-container *ngTemplateOutlet="list; context:{content:list_data.general_fitness}"></ng-container>
          </div>
          <div class="col-md-6">
            <img src="https://curative.s3.ap-south-1.amazonaws.com/studio_images/_DSC0695-min.JPG" class="ser_img">
          </div>
        </div>
      </div>
      <br>

    </div>
  </div>
</div>

<ng-template #heading let-data="content">
  <h3>{{data}}</h3>
</ng-template>

<ng-template #subheading let-data="content">
  <h5>{{data}}</h5>
</ng-template>

<ng-template #paragraph let-data="content">
  <p>{{data}}</p>
</ng-template>

<ng-template #imageview let-temp="imagedata">
  <ng-container *ngFor="let src of temp">
    <img src="{{src}}" height="100" width="200">
  </ng-container>
</ng-template>

<ng-template #imagedisc let-temp="imagedisc">
  <ng-container *ngFor="let content of temp">
    <p>{{content}}</p>
  </ng-container>
</ng-template>

<ng-template #list let-temp="content">
  <ul>
    <ng-container *ngFor="let liContent  of temp">
      <li>
        {{liContent}}
      </li>
    </ng-container>
  </ul>
</ng-template>
