<ul class="social-network social-circle ">
  <!-- <li>
    <a href="JavaScript:Void(0)" class="socialmedia-icons" title="Facebook">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
  <li>
    <a href="JavaScript:Void(0)" class="socialmedia-icons" title="Twitter">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="JavaScript:Void(0)" class="socialmedia-icons" title="instagram" (click)="socialSignIn('facebook')">
      <i class="fa fa-instagram"></i>
    </a>
  </li>
  <li>
    <a href="JavaScript:Void(0)" class="socialmedia-icons" title="Linkedin" (click)="socialSignIn('google')">
      <i class="fa fa-linkedin"></i>
    </a>
  </li> -->
  <li>
    <a href="JavaScript:Void(0)" class="socialmedia-icons dropdown-toggle" data-toggle="modal"
      data-target="#model_window" title="profile" (click)="sendMessage()">
      <i class="fa fa-id-badge"></i>
    </a>
    <!-- <app-model-box-body [dataToChild]="false"></app-model-box-body> -->
  </li>
</ul>
